*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #040746;
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color: inherit;
}

nav{
	width: 100%;
	height: calc(1vh + 1vw * 4);
	display: flex;
	justify-content: flex-start;
	background-color: #040746;
	border-bottom: 1px solid white;
	position: fixed;
	z-index: 5;
}

.nav-logo-block{
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
}

.logo-img{
	width: calc(1vh + 1vw * 2.5);
	height: calc(1vh + 1vw * 2.5);
	background-image: url(/dance/img/logo.png);
	background-size: cover;
	margin: auto calc(1vh + 1vw * 1);
}

.logo-separat{
	width: 1px;
	height: calc(1vh + 1vw * 3);
	margin: auto 0;
	border-left: 2px solid white;
}

.logo-txt{
	margin: auto calc(1vh + 1vw * 2);
	display: flex;
}

.txt{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: calc(1vh + 1vw * 1);
	font-weight: 500;
	color: white;
	margin: auto;
}

.nav-links-block{
	width: 50%;
	height: 100%;
	display: flex;
}

.nav-links-block > ul{
	list-style-type: none;
	margin: auto;
	display: flex;
	justify-content: flex-start;
}

.nav-links-block > ul > a > li{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: calc(1vh + 1vw * .4);
	font-weight: 200;
	color: white;
	margin-left: calc(1vh + 1vw * .5);
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.nav-links-block > ul > a > li:hover{
	color: #a5a5a5;
}

.nav-profile-block{
	width: 25%;
	height: 100%;
	display: flex;
}

.profile-a{
	margin: auto calc(1vh + 1vw * 1) auto auto;
}

.nav-profile{
	width: calc(1vh + 1vw * 2.5);
	height: calc(1vh + 1vw * 2.5);
	background-image: url(/dance/img/profile.png);
	background-size: cover;
}

.content{
	width: 100%;
	padding-bottom: calc(1vh + 1vw * 10);
}

.wrapper{
	position: relative;
	margin-left: calc(1vh + 1vw * 5);
	top: calc(1vh + 1vw * 10);
}

.headline{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: calc(1vh + 1vw * 3);
	font-weight: 900;
	color: white;
}

.direction-list{
	width: calc(1vh + 1vw * 40);
	margin-top: calc(1vh + 1vw * 4);
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-bottom: calc(1vh + 1vw * 5	);
}

.item{
	width: 100%;
}

.item > h1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: calc(1vh + 1vw * 1);
	font-weight: 500;
	color: rgb(255, 255, 255);
}

.item > p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: calc(1vh + 1vw * .4);
	font-weight: 200;
	color: rgb(255, 255, 255);
	margin-top: calc(1vh + 1vw * .1	);
	margin-bottom: calc(1vh + 1vw * 3);
}

footer{
	width: 100%;
	height: calc(1vh + 1vw * 10);
	border-top: 1px solid white;
	display: flex;
}

footer > p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: calc(1vh + 1vw * .4);
	font-weight: 200;
	color: white;
	margin: auto;
}